.custom-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60px;

  &__item {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 0.5s, transform 1s;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    transition: 0.4s;

    svg {
      width: 7px;
      height: 16px;
      fill: currentColor;
      pointer-events: none;
    }

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
      background-color: transparent;
    }

    &--current {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
      background-color: transparent;
      cursor: default;
      pointer-events: none;
    }
  }
}