.free-delivery {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-second-color);
  background-color: var(--color-btn);
  transition: height 0.5s, top 0.5s;
  user-select: none;

  &__text {
    display: block;
    width: 50%;
    text-align: center;
    transition: opacity 0.3s;
    animation: marquee 18s linear infinite;

    @include sm {
      width: 75%;
    }

    @include xs {
      width: 100%;
    }
  }

  &__btn {
    svg {
      right: 40px;
      top: 15px;
      width: 12px;
      height: 12px;
      fill: var(--text-second-color);
    }
  }
}

.free-delivery--hidden {
  height: 0;

  .free-delivery__text {
    opacity: 0;
  }

  .free-delivery__btn {
    opacity: 0;
  }
}