.company {
  &__logo {
    font-weight: 700;
    white-space: nowrap;
    text-shadow: 1px 1px 1px #000, 0 0 1px #000;

    &--part-1 {
      letter-spacing: 2px;
      color: var(--text-main-color);
    }

    &--part-2 {
      letter-spacing: 2px;
      color: var(--color-white);
    }
  }
}