.marketing {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 10;
  display: flex;
  padding: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  opacity: 1;
  transform: translateX(-150vw);
  transition: transform 2.5s, opacity 1s;

  &__text {
    margin-left: 10px;
  }

  &__image {
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    display: block;
    margin-bottom: 5px;
    max-width: 175px;
    font-size: 11px;
    color: var(--color-gray);
  }

  &__title {
    margin: 0;
    margin-bottom: 7px;
    padding-right: 20px;
    min-height: 34px;
    max-width: 175px;
    font-size: 15px;
  }

  &__when-from {
    display: block;
    padding-right: 40px;
    max-width: 175px;
    font-size: 11px;
    color: var(--color-gray);
  }

  &__options {
    position: relative;
  }

  &__close,
  &__eye {
    padding-right: 20px;

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 11px;
      height: 11px;
      fill: var(--dark-gray);
      transition: fill 0.3s;

      &:hover {
        fill: var(--color-dark);
      }
    }

    &:hover {
      color: var(--color-dark);
    }
  }

  &__eye {
    &::before {
      content: "";
      position: absolute;
      right: 6px;
      bottom: -5px;
      width: 2px;
      height: 18px;
      background-color: var(--color-gray);
      transform: rotate(45deg);
      transition: all 0.4s;
    }

    &-icon {
      right: -2px;
      top: 86%;
      width: 18px;
      height: 18px;
      transition: transform 0.3s;
    }

    &:hover {
      .marketing__eye-icon {
        transform: scale(1.15);
      }
    }
  }

  &--visible {
    transform: translateX(0);
    transition: transform 2s;
  }

  @include xs {
    left: 15px;
  }
}