.shop-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 25px;

      @include xs {
        margin-right: 15px;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    transition: opacity 0.3s;

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      transition: fill 0.3s;
    }

    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }

    @include mobile {
      opacity: 1;
    }
  }

  &__user {
    position: relative;
    cursor: pointer;

    a::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .shop-nav__link {
        opacity: 1;
      }

      .shop-nav__user-name {
        opacity: 1;
      }
    }
  }

  &__user-name {
    display: inline-block;
    min-width: 70px;
    color: #fff;
    opacity: 0.75;
    transition: 0.3s;
  }

  .custom-select {
    &__dropdown {
      left: 0;
      width: auto;
    }

    &__list {
      min-width: 150px;
    }

    &__item {
      padding: 10px;
      font-size: 14px;
      text-transform: capitalize;

      &:hover::before {
        transform: scale(1.28);
      }
    }

    &__item-link {
      color: #61b17a;
      transition: 0.3s;

      &:hover {
        color: var(--text-second-color);
      }
    }
  }
}

.cart {
  position: relative;
  width: auto;
  height: auto;

  svg {
    width: 20px;
    height: 19px;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  &__quantity {
    position: absolute;
    left: 17px;
    top: 5px;
  }
}

.quantity {
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  padding: 0 5px;
  height: 16px;
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-dark);
}