.about,
.company,
.cooperation {
  h4 {
    margin: 10px 0;
  }

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
    text-align: justify;
    text-indent: 2em;
  }

  &__list {
    list-style-type: circle;
    margin-bottom: 10px;
    margin-left: 40px;

    @include sm {
      margin-left: 30px;
    }

    @include xs {
      margin-left: 20px;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 100px;
    max-width: 1450px;
    transition: padding 0.5s;

    @include xs {
      padding: 50px 10px 80px;
    }
  }

  &__title {
    margin: 0;
    padding: 30px 0 60px;

    @include xs {
      padding-top: 10px;
    }
  }

  &__block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;

    &-title {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  &__text-wrap {
    z-index: 10;
    width: 100%;
    font-size: 18px;
    line-height: 24px;

    @include sm {
      font-size: 16px;
      line-height: 22px;
    }

    @include xs {
      padding: 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__text {
    border-radius: 10px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.65);

    @include xs {
      padding: 10px;
    }
  }

  &__image {
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.4s;

    img {
      border-radius: 0 200px;

      @include xs {
        border-radius: 0 100px;
      }
    }
  }
}

.about {
  &__block-1 {
    flex-direction: column;
    align-items: center;

    .about__text-wrap {
      width: 100%;

      p {
        text-align: center;
      }
    }

    .about__text {
      p:first-child {
        font-size: 17px;
        text-transform: uppercase;

        @include sm {
          font-size: 15px;
        }

        @include xs {
          font-size: 14px;
        }
      }
    }
  }

  &__block-2 {
    .about__image {
      min-width: 600px;
      max-width: 750px;
      transform: translateX(15%);

      @include mobile {
        min-width: 530px;
      }

      @include sm {
        transform: translateX(0);
      }

      @include xs {
        min-width: 300px;
      }
    }

    .about__text-wrap {
      margin-top: 90px;
      margin-left: -180px;
      padding: 0;
      max-width: 800px;
      background-color: transparent;

      @include sm {
        margin: -100px 0 0;
      }

      @include xs {
        margin: -30px 0 0;
      }
    }

    .about__text {
      background-color: rgba(255, 255, 255, 0.9);

      p:first-child {
        margin-bottom: 10px;
        font-size: 17px;
        text-align: center;
        text-indent: 0;
        text-transform: uppercase;

        @include sm {
          font-size: 15px;
        }

        @include xs {
          font-size: 14px;
        }
      }

      p:last-child {
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
      }
    }

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__block-3 {
    .about__text-wrap {
      width: 100%;
    }
  }

  &__map {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      left: 12.5%;
      top: -20px;
      border-radius: 50%;
      width: 75%;
      height: 2px;
      background: linear-gradient(to left, #fff, #15a51f, #fff);
      opacity: 0.3;
    }

    iframe {
      width: 75%;
      height: 500px;
      max-width: 1024px;
      box-shadow: 0 0 20px -4px var(--text-second-color);

      @include mobile {
        width: 90%;
        height: 400px;
        max-width: 750px;
      }
    }

    @include mobile {
      margin: 70px 0;
    }

    @include sm {
      margin: 30px 0;
    }
  }

  &__map-title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 22px;
    text-transform: uppercase;

    @include md {
      font-size: 20px;
    }

    @include mobile {
      font-size: 18px;
    }

    @include sm {
      margin-bottom: 40px;
      font-size: 17px;
    }
  }
}