.banners {
  position: relative;
  background: fixed center / cover no-repeat var(--bg-image-main);

  &__container {
    padding-top: 100px;
    padding-bottom: 30px;

    @include lg {
      padding-top: 70px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__item {
    flex-shrink: 0;
    margin-bottom: 25px;
    width: 32%;
    min-width: 450px;

    @include lg {
      width: 47.5%;
    }

    @include mobile {
      width: 100%;
    }

    @include xs {
      min-width: 290px;
    }
  }
}

.banners-article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px 40px;
  min-height: 320px;
  background-color: white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(30, 64, 30, 0.3);
    opacity: 1;
    transition: all 0.3s;

    @include mobile {
      opacity: 0;
    }

    @include xs {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -25%;
    bottom: -100%;
    z-index: 3;
    border-radius: 45%;
    width: 150%;
    height: 100%;
    background-color: rgba(211, 224, 213, 0.85);//rgba(255, 255, 255, 0.9);
    transition: all 0.3s;

    @include mobile {
      transform: translateY(-40%);
    }

    @include xs {
      display: none;
    }
  }

  &__ref {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;

    @include mobile {
      object-fit: contain;
      transform: scale(1.15);
    }

    @include sm {
      //transform: scale(1.15);
    }

    @include xs {
      //transform: scale(1.15);
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    text-shadow: 1px 1px 3px #000, 0 0 4px #000;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s, color 0.3s, text-shadow 0.3s;

    @include md {
      font-size: 24px;
    }

    @include mobile {
      color: rgba(255, 255, 255, 1);
      transform: translateY(0px);
    }

    @include xs {
      //transform: translateY(0);
    }
  }

  &__about {
    position: absolute;
    bottom: -35%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px 11%;
    height: 120px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s;

    @include lg-max {
      height: 115px;
    }

    @include md {
      height: 100px;
    }

    @include mobile {
      bottom: 0;
      height: 125px;
      transform: scale(1) translateY(0);
      transition: all 0.7s;
    }

    @include sm {
      height: 120px;
    }

    @include xs {
      display: none;
    }
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      transform: translateY(-40%);
    }

    .banners-article__title {
      color: rgba(255, 255, 255, 1);
      transform: translateY(-25px);

      @include mobile {
        //color: rgba(255, 255, 255, 0.9);
        transform: translateY(0);
      }
    }

    .banners-article__about {
      bottom: 0;
      transform: scale(1) translateY(0);
      transition: all 0.7s;
    }

    .banners-article__img {
      transform: scale(1.15);
    }
  }

  @include md {
    min-height: 290px;
  }

  @include mobile {
    margin: auto;
    min-height: 350px;
  }

  @include sm {
    min-height: 320px;
  }

  @include xs {
    padding: 20px;
    min-height: 220px;
  }
}
