.cooperation {
  &__type-item {
    margin-left: 20px;

    &:first-of-type {
      margin-top: 10px;
    }
  }

  &__image {
    float: left;
    margin: 20px 30px 10px 0;
    width: 500px;

    img {
      border-radius: 0 100px;
      width: 100%;

      @include sm {
        width: 80%;
        height: 100%;
        object-fit: contain;
      }

      @include xs {
        width: 100%;
      }
    }

    @include mobile {
      margin-right: 20px;
      width: 400px;
    }

    @include sm {
      width: 100%;
      height: auto;
      text-align: center;
    }
  }

  &__block-1 {
    .cooperation__image {
      width: 500px;
      height: 311px;

      @include mobile {
        width: 400px;
        height: auto;
      }

      @include sm {
        width: 100%;
      }
    }

    .cooperation__text-wrap {
      background-color: transparent;
    }

    .cooperation__text {
      p:last-of-type {
        margin-top: 20px;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  &__business {
    &-list {
      list-style-type: circle;
      margin-left: 40px;

      @include sm {
        margin-left: 30px;
      }

      @include xs {
        margin-left: 20px;
      }
    }
  }

  &__benefits {
    .benefits {
      &__image {
        position: relative;
        min-width: 110px;

        img {
          width: 110px;

          @include xs {
            width: 80px;
          }
        }

        @include xs {
          min-width: 80px;
        }
      }

      &__number {
        content: "";
        position: absolute;
        left: 47px;
        top: 37px;
        z-index: 100;
        font-size: 50px;
        text-shadow: 1px 1px 1px #000, 0 0 1px #000;
        color: var(--color-white);

        @include xs {
          left: 35px;
          top: 26px;
          font-size: 34px;
        }
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 35px;

        @include sm {
          flex-direction: column;
        }

        @include xs {
          margin-top: 20px;
        }
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;

        @include sm {
          width: 100%;
        }
      }

      &__title {
        text-transform: uppercase;
      }

      &__text-wrap {
        padding: 10px 50px 10px 10px;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}

.cooperation-employer {
  .cooperation__text {
    padding-bottom: 40px;

    @include md {
      padding-bottom: 20px;
    }
  }
}