.hero-catalog {
  padding-top: 70px;
  transition: padding 0.5s;

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    //background-color: #f8f8f8;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include xs {
    padding-top: 70px;
  }
}

.catalog-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 111px;
  height: 410px;
  box-sizing: border-box;
  //background-color: var(--bg-second-color);

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-right: 20px;
    width: 50%;
    height: 100%;
    //background: url("../img/catalog/bg-about_leaf.png") 35% 50% no-repeat / contain;

    @include md {
      padding-right: 0;
      padding-bottom: 10px;
      width: 65%;
    }

    @include mobile {
      width: 100%;
      background-position: 50% 50%;
    }

    @include sm {
      padding-top: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: rgba(56, 166, 90, 0.75);
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);

    @include md {
      font-size: 34px;
    }

    @include sm {
      font-size: 26px;
    }
  }

  &__description {
    overflow: auto;
    margin: 0;
    padding: 5px 20px;
    width: 100%;
    min-height: 135px;
    max-height: 220px;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-tundora);
    transition: height 0.5s;

    @include sm {
      padding: 5px 30px;
      min-height: 110px;
      max-height: 170px;
      font-size: 14px;
      line-height: 22px;
    }

    @include xs {
      display: none;
    }
  }

  &__short-desc {
    display: block;
    overflow: hidden;
    transition: 0.5s;
  }

  &__btn-show {
    margin-top: 10px;
    width: 55%;

    @include md {
      width: 97%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__show-details {
    padding-left: 10px;
    font-weight: 700;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      color: var(--text-second-color);
    }

    &:last-child {
      float: right;
      padding-top: 0;
      padding-right: 25px;
    }
  }

  &__image-wrap {
    border-radius: 10px;
    width: 50%;
    height: 350px;
    background-color: white;

    @include md {
      width: 35%;
    }

    @include mobile {
      width: 0;
    }
  }

  &__image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include mobile {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    padding: 16px 43px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--light {
      border: 1px solid var(--color-dark);
      color: var(--color-dark);
      background-color: transparent;
      transition: all 0.3s;

      &:hover {
        border: 1px solid var(--color-dark);
        color: var(--color-white);
        background-color: var(--color-dark);
        transition: all 0.3s;
      }

      @include xs {
        margin-top: 20px;
      }
    }
  }

  @include sm {
    padding: 0 30px;
    height: 270px;
  }

  @include xs {
    padding: 20px;
    padding-bottom: 0;
    height: 200px;
  }
}

.hero-prev-btn,
.hero-next-btn {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-second-color);
  width: 48px;
  height: 48px;
  color: var(--text-second-color);
  background-color: transparent;
  transform: translateY(-50%);
  transition: 0.3s;

  svg {
    width: 40px;
    height: 20px;
    fill: currentColor;
    transition: fill 0.3s;

    @include sm {
      left: 10px;
      width: 30px;
      height: 15px;
    }
  }

  &:hover {
    box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
  }

  @include sm {
    left: 10px;
    width: 36px;
    height: 36px;
  }

  @include xs {
    display: none;
  }
}

.hero-next-btn {
  left: auto;
  right: 30px;

  @include sm {
    right: 10px;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 10px;

  &-bullet {
    box-shadow: 0 0 2px 1px var(--color-btn) inset, 0 0 1px 2px var(--color-btn);
    background-color: var(--color-btn);
    opacity: 1;
    transform: scale(0.8);
    transition: 0.55s;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &-active {
      background-color: var(--text-main-color);
      transform: scale(1.2);
    }
  }
}