.recover-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  height: 100vh;
  max-width: unset;
  font-size: 22px;
  line-height: 30px;
  text-align: center;

  .hero__content {
    top: 50px;
    justify-content: unset;
    height: unset;
    user-select: none;
  }

  .hero__to-shop {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    letter-spacing: 10px;
    opacity: 0.9;

    &::before,
    &::after {
      left: -12.5%;
      width: 125%;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 1;
    }

    &::before {
      top: -20%;
    }

    &::after {
      bottom: -20%;
    }

    @include xs {
      padding: 10px 0;
    }
  }

  .response-message {
    bottom: -60px;
  }

  .form__label {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    text-align: start;

    @include mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .form__input {
    width: 50%;
  }

  .form__edit-btn {
    margin-top: 30px;
  }

  &__form {
    position: relative;
    margin-top: 20px;
    width: 90%;

    @include md {
      width: 100%;
    }
  }

  &__inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 100px 0;
    width: 50%;
    height: 100%;

    @include lg {
      padding: 150px 60px 0;
      width: 60%;
    }

    @include mobile {
      padding: 110px 60px 0;
    }

    @include sm {
      padding: 100px 30px 0;
      width: 70%;
    }

    @include xs {
      width: 100%;
    }
  }

  &__title {
    margin: 50px 0 30px;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;

    @include mobile {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__expired {
    margin: 30px auto 0;
    width: 125px;
    height: 125px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text-replay {
    margin-top: 50px;
    margin-bottom: 70px;
    color: var(--text-second-color);
  }

  &__text-delete {
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--text-second-color);
  }

  &__left,
  &__right {
    width: 25%;
    height: 100%;
    background: rgba(var(--color-btn-na), 0.5);
    filter: blur(30px);

    @include lg {
      width: 20%;
    }

    @include sm {
      width: 15%;
    }

    @include xs {
      width: 0;
    }
  }

  @include mobile {
    min-height: 700px !important;
    font-size: 18px;
    line-height: 24px;
  }
}