.search-modal {
  position: fixed;
  left: 0;
  top: -340px;
  width: 100%;
  transition: top var(--delay-modal-off);

  &__content-wrapper {
    position: relative;
    z-index: 100;
    background: center / cover no-repeat var(--bg-image-main);
  }

  &__content {
    margin: auto;
    padding: 30px 150px 50px;
    height: 330px;
    max-width: 1600px;

    @include mobile {
      padding: 30px 100px 40px;
    }

    @include sm {
      padding: 30px 50px 50px;
    }

    @include xs {
      padding: 40px 10px 50px;
    }
  }

  &__close {
    position: relative;
    float: right;
    padding-right: 20px;
    font-size: 15px;
    color: var(--color-black);
    transition: color 0.3s;

    &-icon {
      right: 0;
      bottom: 2px;
      width: 18px;
      height: 18px;

      @include xs {
        right: 10px;
        bottom: 20px;
      }
    }
  }

  &__form {
    margin-top: 25px;

    @include xs {
      margin-top: 0;
    }
  }

  &.search-modal--visible {
    top: 0;
    transition: top var(--delay-modal-on);
  }

  @include mobile {
    height: 165px;
  }
}

.form-search .loader {
  position: absolute;
  left: unset;
  right: -95%;
  top: 20%;
  bottom: unset;
  width: 100%;
  height: 50px;

  &__wrapper {
    margin: 0;
    padding: 0;

    &::before {
      content: none;
    }

    img {
      width: 50px;
    }
  }

  @include md {
    right: -93%;
  }

  @include sm {
    right: -91%;
  }

  @include xs {
    right: -80%;
  }
}

.form-search {
  position: relative;

  &__title {
    display: block;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    @include xs {
      display: inline-block;
      padding-bottom: 0;
      font-size: 10px;
    }
  }

  &__field {
    padding-right: 60px;
    height: 90px;
    font-size: 36px;
    line-height: 90px;

    &::placeholder {
      font-size: 36px;

      @include md {
        font-size: 28px;
      }

      @include sm {
        font-size: 22px;
      }

      @include xs {
        font-size: 18px;
      }
    }

    &:focus {
      border-bottom: 2px solid var(--color-dark);
    }

    @include xs-rotate {
      height: 70px;
    }

    @include xs {
      padding-right: 0;
    }
  }

  &__submit {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: none;
    border: none;
    padding: 0;
    padding-bottom: 15px;
    background-color: transparent;

    @include xs-rotate {
      padding-bottom: 10px;
    }
  }

  &__search-icon {
    width: 42px;
    height: 42px;
    fill: var(--color-btn);
    transition: fill 0.3s;
    cursor: pointer;

    &:hover {
      fill: var(--text-second-color);
    }

    @include xs-rotate {
      width: 34px;
      height: 34px;
    }
  }

  &__results-container {
    position: absolute;
    width: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
    background: center / cover no-repeat var(--bg-image-main);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__results-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    height: 0;
    max-height: calc(100vh - 280px);
    transition: height 0.5s;

    @include mobile {
      padding: 20px 10px;
      max-height: calc(100vh - 260px);
    }

    @include sm {
      max-height: calc(100vh - 230px);
    }

    @include xs {
      max-height: calc(100vh - 175px);
    }

    @include xs-rotate {
      padding-top: 10px;
      max-height: calc(100vh - 175px);
    }
  }

  &__empty {
    display: block;
    font-weight: 500;
    font-size: 15px;

    &--hidden {
      display: none;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 185px;
    opacity: 0;
    transform: scale(0.75);
    transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods);

    &-media {
      width: 100%;
    }

    &-detail {
      width: 100%;
    }

    &-name {
      overflow: hidden;
      margin: 5px 0;
      font-size: 13px;
    }

    &-cost {
      font-weight: 700;
      font-size: 14px;
    }

    @include lg {
      width: 160px;
    }

    @include md {
      width: 145px;
    }

    @include sm {
      margin-right: 10px;
      margin-left: 10px;
      width: 180px;
    }

    @include xs {
      margin-right: 3px;
      margin-left: 3px;
      width: 47%;
    }

    @include xs-rotate {
      width: 120px;
    }
  }
}