[data-grid-columns="3"] {
  //min-height: 1597px;

  .product {
    padding-bottom: 15px;
  }

  .product__title {
    padding: 5px 25px;
    font-size: 18px;
    line-height: 28px;

    @include lg {
      font-size: 15px;
      line-height: 21px;
    }
  }

  .product-custom__price {
    font-size: 28px;

    @include lg {
      font-size: 22px;
    }
  }

  .catalog-grid__item {
    width: 31.3%;

    &:not(:nth-child(3n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }

    @include lg {
      margin-bottom: 60px;
    }
  }

  @include lg {
    min-height: 1215px;
  }
}

[data-grid-columns="4"] {
  //min-height: 1276px;

  .product {
    padding-bottom: 10px;
  }

  .product__title {
    padding: 5px 15px;
    font-size: 15px;
    line-height: 22px;

    @include lg {
      font-size: 13px;
      line-height: 19px;
    }
  }

  .product-custom__price {
    font-size: 24px;

    @include lg {
      font-size: 19px;
    }
  }

  .catalog-grid__item {
    width: 22.7%;

    &:not(:nth-child(4n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }

    @include lg {
      margin-bottom: 60px;
    }
  }

  @include lg {
    min-height: 985px;
  }
}

[data-grid-columns="5"] {
  //min-height: 1085px;

  .product {
    padding-bottom: 5px;
  }

  .product__title {
    padding: 5px 15px;
    font-size: 13px;
    line-height: 19px;

    @include lg {
      font-size: 11px;
      line-height: 15px;
    }
  }

  .product-custom__price {
    font-size: 20px;

    @include lg {
      font-size: 17px;
    }
  }

  .catalog-grid__item {
    width: 17.6%;

    &:not(:nth-child(5n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }

    @include lg {
      margin-bottom: 50px;
    }
  }

  @include lg {
    min-height: 830px;
  }
}

[data-grid-columns="6"] {
  //min-height: 955px;

  .product__title {
    font-size: 12px;

    @include lg {
      min-height: 5.5em;
      font-size: 10px;
      line-height: 14px;
    }
  }

  .product-custom__price {
    font-size: 18px;

    @include lg {
      font-size: 16px;
    }
  }

  .catalog-grid__item {
    width: 15.4%;

    &:not(:nth-child(6n)) {
      margin-right: 1.5%;
    }

    &:nth-last-child(-n+6) {
      margin-bottom: 0;
    }

    @include lg {
      margin-bottom: 45px;
    }
  }

  @include lg {
    min-height: 730px;
  }
}

.catalog-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 34px;
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 17px;
    margin-bottom: 70px;
    height: 100%;
    min-height: 200px;
    transition: height 1.5s;

    @include md {
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }

  &__item {
    margin-bottom: 79px;
    opacity: 0;
    transform: scale(0.75);
    transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods);

    .product__title {
      @include md {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile {
        font-size: 14px;
        line-height: 22px;
      }

      @include xs {
        font-size: 11px;
        line-height: 16px;
      }
    }

    .product-custom__price {
      @include md {
        font-size: 22px;
      }

      @include mobile {
        font-size: 20px;
      }

      @include sm {
        font-size: 22px;
      }

      @include xs {
        font-size: 18px;
      }
    }

    @include md {
      margin-right: 0 !important;
      margin-bottom: 50px !important;
      width: 47% !important;
    }

    @include xs {
      width: 48% !important;
    }
  }

  &__empty {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-second-color);
    opacity: 0;
    transform: scale(0.85);
    transition-duration: 0.3s;
    transition-delay: 0s;

    &--visible {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.5s;
      transition-delay: 1.2s;
    }

    @include sm {
      font-size: 15px;
    }
  }

  .product {
    @include md {
      padding-bottom: 10px;
    }

    @include xs {
      padding-bottom: 0;
    }
  }
}

.catalog-props {
  .custom-select__top {
    color: #0b9a38;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  &__options {
    display: flex;
    align-items: flex-end;
  }

  &__quantity-label,
  &__sort-label {
    font-size: 12px;
    text-transform: uppercase;

    @include xs {
      display: none;
    }
  }

  &__quantity {
    &.custom-select {
      margin-right: 30px;
      min-width: 40px;

      .custom-select__top {
        text-align: center;
      }

      .custom-select__dropdown {
        text-align: center;
      }

      @include xs {
        margin-right: 0;
      }
    }
  }

  &__sort {
    &.custom-select {
      min-width: 185px;

      @include xs {
        min-width: 170px;
      }
    }
  }
}

.catalog-columns {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  &__text {
    margin-right: 3px;
    font-weight: 500;
    font-size: 12px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__btn {
    padding: 0 5px;
    font-size: 12px;
    color: var(--third-color);

    &:hover {
      color: var(--text-second-color);
    }

    &--current {
      color: var(--text-second-color);

      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  @include md {
    display: none;
  }
}