.catalog-categories {
  padding: 50px 50px 10px;
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);

    &::before {
      top: -25px;

      @include mobile {
        top: -10px;
      }
    }

    @include xs {
      justify-content: flex-start;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
    width: 400px;
    height: 70px;
    text-align: start;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      left: -10%;
      top: 0;
      z-index: 10;
      width: 110%;
      height: 100%;
      opacity: 0.35;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-out;
    }

    &--active {
      cursor: default;
      pointer-events: none;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      .catalog-categories__image img {
        transform: scale(1.01);
      }
    }

    &:hover {
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      .catalog-categories__image img {
        transform: scale(1.01);
      }
    }

    &--clean {
      &::before {
        background: linear-gradient(to left, #fff, rgba(0, 90, 255, 0.32), #fff);
      }
    }

    &--blue {
      &::before {
        background: linear-gradient(to left, #fff, rgba(0, 173, 255, 0.32), #fff);
      }
    }

    &--pink {
      &::before {
        background: linear-gradient(to left, #fff, rgba(255, 48, 153, 0.37), #fff);
      }
    }

    &--red {
      &::before {
        background: linear-gradient(to left, #fff, rgba(255, 0, 0, 0.32), #fff);
      }
    }

    &--turquoise {
      &::before {
        background: linear-gradient(to left, #fff, rgba(3, 255, 81, 0.45), #fff);
      }
    }

    &--green {
      &::before {
        background: linear-gradient(to left, #fff, rgba(21, 165, 31, 0.32), #fff);
      }
    }

    &--purple {
      &::before {
        background: linear-gradient(to left, #fff, rgba(196, 0, 171, 0.32), #fff);
      }
    }

    &--yellow {
      &::before {
        background: linear-gradient(to left, #fff, rgba(239, 255, 0, 0.45), #fff);
      }
    }

    &--beige {
      &::before {
        background: linear-gradient(to left, #fff, rgba(245, 245, 220, 1), #fff);
        opacity: 0.5;
      }
    }

    @include lg {
      width: 365px;
      height: 60px;
    }

    @include md {
      width: 300px;
      height: 55px;
    }

    @include mobile {
      width: 350px;
      height: 50px;

      &:last-child {
        width: 400px;
      }
    }

    @include sm {
      width: 270px;
    }

    @include xs {
      display: flex;
      justify-content: flex-start;
      text-align: start;
    }
  }

  &__title {
    z-index: 5;
    display: inline-block;
    margin: 0;
    padding: 20px 5px 20px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #037325;

    @include lg {
      font-size: 13px;
    }

    @include xs {
      padding-right: 4px;
      padding-left: 8px;
      font-weight: 700;
      font-size: 11px;
    }
  }

  &__image {
    z-index: 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    padding-left: 5px;
    width: 80px;
    height: 65px;
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: scale(0.9);
      transition: transform 0.3s;
    }

    @include lg {
      width: 78px;
      height: 60px;
    }

    @include md {
      width: 72px;
      height: 55px;
    }

    @include mobile {
      width: 65px;
      height: 50px;
    }

    @include xs {
      width: 59px;
      height: 45px;
    }
  }

  @include mobile {
    padding: 35px 30px 0;
  }

  @include sm {
    padding: 20px 10px 0;
  }
}