.cart-navigation {
  .tab-navigation__link {
    @include sm {
      font-size: 22px;
    }
  }

  .cart-navigation__list {
    @include xs {
      padding-top: 0;
    }
  }

  &__list {
    padding-top: 90px;

    @include sm {
      padding-top: 50px;
    }

    @include xs {
      padding-top: 30px;
    }
  }

  &__link-quantity {
    pointer-events: none;
  }
}

.cart-content {
  &.tab-content {
    margin: auto;
    padding: 80px 30px;
    width: 1450px;

    @include lg {
      width: 100%;
    }

    @include sm {
      padding: 50px 30px 80px;
    }

    @include xs {
      padding: 30px 0 80px;
    }
  }
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 20px;

  &__item {
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;

    &--visible {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  &__undo {
    overflow: hidden;
    border-top: 3px solid #337ab7;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.55);
    opacity: 0;

    &-btn {
      font-weight: 700;
      text-transform: uppercase;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.75;
      }
    }

    &-text-wrap {
      padding: 10px 30px;

      @include xs {
        padding: 5px 10px;
      }
    }

    &-text {
      text-transform: uppercase;
    }
  }

  &__empty {
    width: 100%;
    height: 168px;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;

    &-text {
      margin: 30px 0;
      border-top: 4px solid var(--color-message-prof);
      line-height: 50px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.55);

      @include sm {
        font-size: 14px;
      }

      @include xs {
        font-size: 14px;
      }
    }

    &-return {
      margin: auto;
      width: 250px;

      @include sm {
        width: 100%;
        font-size: 10px;
      }
    }

    &-btn {
      display: block;
      line-height: 54px;

      &:hover {
        box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
        background-color: transparent;
      }
    }
  }

  &__error {
    align-self: flex-start;
    overflow: hidden;
    border-top: 3px solid rgba(var(--error-message-na), 0.5);
    width: 100%;
    height: 0;
    color: #000;
    background-color: rgba(var(--error-message-na), 0.1);
    opacity: 0;

    &-list {
      padding: 10px 30px;

      @include xs {
        padding: 5px 10px 8px;
      }
    }
  }

  &__customer {
    animation: waves 2s linear infinite;
  }

  &__customer,
  &__coupon {
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 50%;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--third-color);
    background-color: var(--bg-main-color);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--text-second-color);
    }

    @include md {
      width: 65%;
    }

    @include mobile {
      font-size: 11px;
      line-height: 24px;
      color: var(--text-second-color);
    }

    @include xs {
      width: 100%;
    }
  }

  @include xs {
    text-align: center;
  }
}

.coupon {
  &__text {
    margin-right: 10px;
    outline: none;
    border: 1px dashed rgba(var(--color-btn-na), 1);
    padding: 0 25px;
    width: 210px;
    height: 54px;
    font-size: 15px;
    line-height: 54px;
    color: var(--color-tundora);
    background-color: rgba(var(--color-btn-na), 0.3);
    transition: border-color 0.5s;

    &::placeholder {
      color: rgba(var(--text-second-color-na), 0.5);
    }

    &:focus {
      border: 1px dashed var(--text-second-color);
    }

    @include mobile {
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
    }
  }

  &__apply-btn {
    margin-right: 20px;
    width: 200px;
    box-shadow: none;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-tundora);
    background-color: transparent;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
    }

    @include mobile {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.check {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 21%;
  min-width: 360px;
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url("../img/cart/bg_check.png");
  background-size: cover;
  background-repeat: repeat;

  .custom-checkbox__text {
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    z-index: 1;
    width: 100%;
    height: 7px;
    background-image: url("../img/cart/cart__check__bg-bottom.png");
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    z-index: 1;
    width: 100%;
    height: 7px;
    background-image: url('../img/cart/cart__check__bg-top.png');
  }

  &__title {
    border-bottom: 1px dashed var(--dark-gray);
    font-size: 15px;
    line-height: 46px;
    text-transform: uppercase;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }

  &__subtotal-wrap {
    font-size: 14px;
    text-align: left;
  }

  &__product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px dashed var(--dark-gray);
    font-size: 14px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__product-name {
    padding-right: 10px;
    width: 60%;
  }

  &__product-quantity {
    width: 10%;
    text-align: center;
  }

  &__product-price {
    width: 30%;
    text-align: right;
  }

  &__shipping {

  }

  &__shipping-sum {
    width: 50%;
    font-size: 14px;
    line-height: 20px;
  }

  &__delivery-weight {
    margin: 5px 0 0;
    font-weight: 400;
    font-size: 14px;
  }

  &__total {
    border-top: 1px dashed var(--dark-gray);
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__subtotal-title,
  &__shipping-title {
    width: 50%;
    font-weight: 700;
    font-size: 15px;
  }

  &__about-policy {
    padding: 15px 0;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
  }

  &__policy-link {
    text-decoration: underline;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__policy {
    padding: 20px 0 25px;

    .custom-checkbox__text {
      padding-left: 25px;
      font-size: 14px;
      transition: 0.4s;

      &::before {
        top: 4px;
        transition: 0.4s;
      }
    }
  }

  &__policy--error {
    .custom-checkbox__text {
      color: var(--error-message);

      &::before {
        border-color: var(--error-message);
      }
    }
  }

  &__to-checkout {
    margin-bottom: 30px;
    height: 54px;
    text-align: center;
    transition: opacity 0.3s;
  }

  &__to-checkout-btn,
  &__place-order-btn {
    display: block;
    height: 100%;
    background-color: transparent;

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
      background-color: transparent;
    }

    @include xs {
      padding: 0 15px;
    }
  }

  @include md {
    width: 70%;
  }

  @include xs {
    padding: 20px 30px;
    width: 95%;
    min-width: 300px;
  }
}