@keyframes marquee {
  100% {
    transform: translateX(-105%);
  }

  0% {
    transform: translateX(105%);
  }
}

@keyframes move-hover-cart {
  0% {
    transform: translateY(0) translateX(0) rotate(-45deg);
  }

  25% {
    transform: translateY(-5px) translateX(-5px) rotate(-45deg);
  }

  75% {
    transform: translateY(5px) translateX(5px) rotate(-45deg);
  }
}

@keyframes hover-to-top {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-3px);
  }

  75% {
    transform: translateY(3px);
  }
}

@keyframes waves {
  0% {
    box-shadow: 0 0 5px rgba(97, 177, 122, 0.5), 0 0 0 0 rgba(97, 177, 122, 0.35), 0 0 0 0 rgba(97, 177, 122, 0.35);
  }

  40% {
    box-shadow: 0 0 5px rgba(97, 177, 122, 0.5), 0 0 0 7px rgba(97, 177, 122, 0.35), 0 0 0 0 rgba(97, 177, 122, 0.35);
  }

  80% {
    box-shadow: 0 0 5px rgba(97, 177, 122, 0.5), 0 0 0 15px rgba(97, 177, 122, 0), 0 0 0 13px rgba(97, 177, 122, 0.15);
  }

  100% {
    box-shadow: 0 0 5px rgba(97, 177, 122, 0.5), 0 0 0 15px rgba(97, 177, 122, 0), 0 0 0 20px rgba(97, 177, 122, 0);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.25) translateX(5%) translateY(5%);
  }

  40% {
    transform: scale(1.5) translateX(9%) translateY(10%);
  }
}
