html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Firefox */
* {
  scrollbar-color: var(--color-btn) var(--white-smoke);
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--white-smoke);
}

*::-webkit-scrollbar-thumb {
  border: 3px solid var(--color-btn);
  border-radius: 20px;
  background-color: var(--color-btn);
}

body {
  margin: 0;
  min-width: 316px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: var(--color-tundora);
  background: fixed center / cover no-repeat var(--bg-image-main);
}

main {
  margin: auto;
  max-width: 1920px;
}

main:not(.main-index) {
  margin-top: 130px;
  border-top: 1px solid var(--bg-main-color);
  min-height: 60vh;
  transition: margin-top 0.5s;

  @include xs {
    margin-top: 115px;
  }
}

img {
  max-width: 100%;
  image-rendering: optimizeSpeed;             /* Отключает размытие при увеличении небольших img */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: pixelated;                 /* Chrome as of 2019   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

a {
  text-decoration: none;
  color: var(--color-tundora);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //-webkit-box-shadow: inset 0 0 0 50px transparent;
  -webkit-text-fill-color: var(--text-second-color);
  transition: background-color 5000s ease-in-out 0s;
}

.grecaptcha-badge {
  z-index: -20;
  opacity: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  //margin: auto;
  //max-width: 1920px;
}

.page-title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;

  @include sm {
    font-size: 26px;
  }

  @include xs {
    font-size: 22px;
  }
}

.stop-scroll {
  @include stop-scroll;
}

.is-delete {
  display: none !important;
}

.is-hidden {
  opacity: 0 !important;
  transform: scale(0.95) !important;
}

.is-reduce {
  height: 0 !important;
  opacity: 0 !important;
}

.is-reduce-mh {
  max-height: 0 !important;
  opacity: 0 !important;
}

.emergence {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.is-disabled {
  cursor: default;
  pointer-events: none;
}

.waves {
  animation: waves 2.5s linear infinite;
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.form {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    @include sm {
      font-size: 15px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 22px;
    text-transform: uppercase;

    @include sm {
      font-size: 18px;
    }

    @include xs {
      font-size: 16px;
    }
  }
}

.form-field {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-gray);
  padding: 20px 0;
  width: 100%;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-second-color);
  background-color: inherit;
  transition: 0.3s;

  &__ok,
  &__not-ok {
    position: absolute;
    right: 0;
    top: 10px;
    width: 12px;
    height: 15px;
    opacity: 1;
    transition: 0.5s;
  }

  &__not-ok {
    top: 18px;
    width: 12px;
    height: 12px;
  }

  &::placeholder {
    font-size: 14px;
    color: var(--color-btn);
  }

  &:focus {
    border-bottom: 2px solid var(--color-tundora);
  }

  @include sm {
    font-size: 15px;
  }

  @include xs {
    font-size: 14px;
  }
}

.error-field {
  //box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 15px -15px var(--error-message);
}

.success-field {
  box-shadow: 0 15px 15px -15px var(--text-second-color);
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn-default {
  border: none;
  padding: 0 30px;
  width: 100%;
  box-shadow: 0 0 40px 40px var(--color-btn) inset, 0 0 0 0 var(--color-btn);
  font-weight: 500;
  font-size: 13px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-second-color);
  background-color: var(--color-btn);
  transition: 0.3s;
  cursor: pointer;

  &:hover:enabled {
    box-shadow: 0 0 10px 0 var(--color-btn) inset, 0 0 10px 4px var(--color-btn);
    background-color: transparent;
  }

  &:disabled {
    box-shadow: 0 0 40px 40px #a0a0a0 inset, 0 0 0 0 #a0a0a0;
    text-shadow: 1px 1px 1px #faebd7;
    color: rgba(16, 16, 16, 0.3);
    pointer-events: none;
    user-select: none;
  }
}

.dividing-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 12.5%;
    top: 45px;
    border-radius: 50%;
    width: 75%;
    height: 2px;
    background: linear-gradient(to left, #fff, #15a51f, #fff);
    opacity: 0.3;
  }
}

.container {
  margin: 0 auto;
  padding: 0 40px;

  @include xs {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.main-link {
  position: relative;
  font-size: 15px;
  color: var(--color-tundora);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s, width 0.3s;
  }

  &:hover {
    &::before {
      width: 100%;
      opacity: 1;
      transition: opacity 0.3s, width 0.3s;
    }
  }

  &--white {
    color: var(--color-white);
  }
}

.container-narrow {
  max-width: 1600px;
}

.header-home-narrow {
  max-width: 1920px;
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 10%;
  z-index: 50;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 13px 14px;
  width: 48px;
  height: 48px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-main-color);
  transition: transform 0.3s;

  &:hover {
    .to-top__img {
      animation: hover-to-top 1s linear infinite;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 200vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  opacity: 0;
  visibility: hidden;
  transition: all var(--delay-overlay);

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--delay-overlay);
  }
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 20;
  width: 20px;
  height: 20px;
  fill: var(--color-tundora);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;

  use {
    pointer-events: none;
  }

  &:hover {
    transform: rotate(180deg);
  }
}

.simplebar-scrollbar::before {
  background: var(--third-color);
}